// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$calendar-widget-primary: mat-palette($mat-indigo);
$calendar-widget-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$calendar-widget-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$calendar-widget-theme: mat-light-theme(
  $calendar-widget-primary,
  $calendar-widget-accent,
  $calendar-widget-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($calendar-widget-theme);

/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
}

*,
::after,
::before {
  box-sizing: border-box;
}

.font-16 {
  font-size: 16px;
  font-weight: 600;
}

.font-14 {
  font-size: 14px;
  font-weight: 600;
}

.font-12 {
  font-size: 12px;
  font-weight: 600;
}

.font-grey {
  color: rgba(0, 0, 0, 0.6);
}

.cursor-point {
  cursor: pointer;
}

.header-timesheet {
  background-color: #f3f3f4;
}
